student_catalog{
	display:block;

	padding-bottom: 10px;

	border:  2px solid white;

	border-radius:  25px;

	background-color: rgb(187, 96, 96);

	padding:  50px;
    

}

/*
*{
	color: red;
}*/
name{
	color: white ;

	font-weight: bold;

	font-family: Arial, Helvetica, sans-serif;

}
